In [ ]:
# komentarz

# if

wielkosc = 5
wielkosc +=1
print(wielkosc)

6

In [ ]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
studenci[0][1]

'n'

In [ ]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

for numer in range(10):
  print(numer)

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek
0
1
2
3
4
5
6
7
8
9

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2):
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

def inne_dodaj_cztery(liczba):
  return liczba+4

In [ ]:
wynik = dodaj_dwa(2)
print(wynik)

print(inne_dodaj_cztery(2))

4
6

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

**Challenge 0.1 - Wyprintuj zajęcia od środy do piątku, wyprintuj zajęcia oprócz środy.**

Stworzenie list zmiennych.

In [ ]:
zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

Wyprintowanie zajęć od środy do piątku.

In [ ]:
print(zajecia[2:])

['relax', 'mispy', 'piateczek']

Wyprintowanie zajęć oprócz środy.

In [ ]:
for zajecie,dzien in zip(zajecia,dnityg):
  if dzien !="Sro":
    print(zajecie)

wf
informatyka
mispy
piateczek

**Challenge 0.2 - Podaj ile jest zajęć danego dnia oraz posortuj dni po najbardziej zajętych.**

Stworzenie listy przedmiotów, która jest w danym dniu oraz liste dni.

In [ ]:
zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

Zdefiniowanie funkcji, ktora poda ile jest zajęć danego dnia oraz wyprintowanie.

In [ ]:
def ilosc_zajec_w_dniu(lista_zajec):
  return len(lista_zajec)

ile_zajec_lista=[ilosc_zajec_w_dniu(zajecie) for zajecie in zajecia]
print(ile_zajec_lista)

[1, 2, 2, 2, 4]

Posortowanie dni po najbardziej zajętych.

In [ ]:
najb_zajete = list(zip(dnityg,zajecia))
najb_zajete = sorted(najb_zajete, key = lambda sort:ilosc_zajec_w_dniu(sort[1]), reverse = True)
print(najb_zajete)

[('Pio', ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']), ('Wto', ['informatyka', 'nauka czytania']), ('Sro', ['relax', 'jedzenie']), ('Czwar', ['mispy', 'mispy w domu']), ('Pon', ['wf'])]

**Challenge 0.3 - Napisz program, który znajdzie dzień z największą ilościa mispow.**

Zdefiniowanie funkcji, która poda ile jest mispów.

In [ ]:
def ile_mispow(zajecia):
    ile_misp = 0
    for zajecie in zajecia:
      if "misp" in zajecie:
        ile_misp += 1
    return ile_misp

Połączenie zajęć z dniami tygodnia.

In [ ]:
polaczenie = zip(zajecia, dnityg)

Wyznaczenie największej ilości mispów w danym dniu tygodnia oraz wyznaczenie tego dnia.

In [ ]:
max(zajecia, key= ile_mispow)
max(polaczenie, key = lambda para: ile_mispow(para[0]))

(['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu'],
 'Pio')

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)
sorted(liczby, reverse=True)
sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]